<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notice</title>
</head>
<script src="https://cdn.bootcdn.net/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(function () {
        var s = new SockJS('/socket?token=qq');
        var stompClient = Stomp.over(s);
        stompClient.connect({}, function () {
            console.log('notice socket connected!');
            // stompClient.subscribe('/topic/notice', function (data) {
            stompClient.subscribe('/user/topic/notice', function (data) {
                console.log(data.body)
                $('#message').html(data.body);
            });
        });
    });
</script>
<body>
<span id="message">Init</span>

</body>
</html>